train_crossarea_256.log
train_crossarea_vit-l.log
__pycache__/glip_loc_lora.cpython-310.pyc
__pycache__/lora.cpython-310.pyc
__pycache__/run_utils.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
clip/__pycache__/__init__.cpython-310.pyc
clip/__pycache__/clip.cpython-310.pyc
clip/__pycache__/model.cpython-310.pyc
clip/__pycache__/simple_tokenizer.cpython-310.pyc
datasets/vigor_plus.py
datasets/__pycache__/__init__.cpython-310.pyc
datasets/__pycache__/caltech101.cpython-310.pyc
datasets/__pycache__/dtd.cpython-310.pyc
datasets/__pycache__/eurosat.cpython-310.pyc
datasets/__pycache__/fgvc.cpython-310.pyc
datasets/__pycache__/food101.cpython-310.pyc
datasets/__pycache__/imagenet.cpython-310.pyc
datasets/__pycache__/oxford_flowers.cpython-310.pyc
datasets/__pycache__/oxford_pets.cpython-310.pyc
datasets/__pycache__/stanford_cars.cpython-310.pyc
datasets/__pycache__/sun397.cpython-310.pyc
datasets/__pycache__/ucf101.cpython-310.pyc
datasets/__pycache__/utils.cpython-310.pyc
datasets/__pycache__/vigor_plus.cpython-310.pyc
vis/
vitb16/
vitl14/
loralib/__pycache__/__init__.cpython-310.pyc
loralib/__pycache__/layers.cpython-310.pyc
loralib/__pycache__/utils.cpython-310.pyc
visualization_23750_0.png
visualization_23750_1.png
visualization_23750_2.png
visualization_23750_3.png
visualization_23750_4.png
