train_crossarea_256.log
train_crossarea_vit-l.log
__pycache__/glip_loc_lora.cpython-310.pyc
__pycache__/lora.cpython-310.pyc
__pycache__/run_utils.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
clip/__pycache__/__init__.cpython-310.pyc
clip/__pycache__/clip.cpython-310.pyc
clip/__pycache__/model.cpython-310.pyc
clip/__pycache__/simple_tokenizer.cpython-310.pyc
datasets/vigor_plus.py
datasets/__pycache__/__init__.cpython-310.pyc
datasets/__pycache__/caltech101.cpython-310.pyc
datasets/__pycache__/dtd.cpython-310.pyc
datasets/__pycache__/eurosat.cpython-310.pyc
datasets/__pycache__/fgvc.cpython-310.pyc
datasets/__pycache__/food101.cpython-310.pyc
datasets/__pycache__/imagenet.cpython-310.pyc
datasets/__pycache__/oxford_flowers.cpython-310.pyc
datasets/__pycache__/oxford_pets.cpython-310.pyc
datasets/__pycache__/stanford_cars.cpython-310.pyc
datasets/__pycache__/sun397.cpython-310.pyc
datasets/__pycache__/ucf101.cpython-310.pyc
datasets/__pycache__/utils.cpython-310.pyc
datasets/__pycache__/vigor_plus.cpython-310.pyc
vis/
vitb16/
vitl14/
loralib/__pycache__/__init__.cpython-310.pyc
loralib/__pycache__/layers.cpython-310.pyc
loralib/__pycache__/utils.cpython-310.pyc
visualization_23750_0.png
visualization_23750_1.png
visualization_23750_2.png
visualization_23750_3.png
visualization_23750_4.png
visualization_24000_0.png
visualization_24000_1.png
visualization_24000_2.png
visualization_24000_3.png
visualization_24000_4.png
visualization_24250_0.png
visualization_24250_1.png
visualization_24250_2.png
visualization_24250_3.png
visualization_24250_4.png
visualization_24500_0.png
visualization_24500_1.png
visualization_24500_2.png
visualization_24500_3.png
visualization_24500_4.png
visualization_24750_0.png
visualization_24750_1.png
visualization_24750_2.png
visualization_24750_3.png
visualization_24750_4.png
visualization_25000_0.png
visualization_25000_1.png
visualization_25000_2.png
visualization_25000_3.png
visualization_25000_4.png
visualization_25250_0.png
visualization_25250_1.png
visualization_25250_2.png
visualization_25250_3.png
visualization_25250_4.png
visualization_25500_0.png
visualization_25500_1.png
visualization_25500_2.png
visualization_25500_3.png
visualization_25500_4.png
visualization_25750_0.png
visualization_25750_1.png
visualization_25750_2.png
visualization_25750_3.png
visualization_25750_4.png
visualization_26000_0.png
visualization_26000_1.png
visualization_26000_2.png
visualization_26000_3.png
visualization_26000_4.png
visualization_26250_0.png
visualization_26250_1.png
visualization_26250_2.png
visualization_26250_3.png
visualization_26250_4.png
visualization_26500_0.png
visualization_26500_1.png
visualization_26500_2.png
visualization_26500_3.png
visualization_26500_4.png
visualization_26750_0.png
visualization_26750_1.png
visualization_26750_2.png
visualization_26750_3.png
visualization_26750_4.png
visualization_27000_0.png
visualization_27000_1.png
visualization_27000_2.png
visualization_27000_3.png
visualization_27000_4.png
visualization_27250_0.png
visualization_27250_1.png
visualization_27250_2.png
visualization_27250_3.png
visualization_27250_4.png
